In [61]:
import pandas as pd

In [62]:
df=pd.read_csv('emails.csv')

In [63]:
df

,text,spam,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,Subject: naturally irresistible your corporate...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject: the stock trading gunslinger fanny i...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject: unbelievable new homes made easy im ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Subject: 4 color printing special request add...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Subject: do not have money , get software cds ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5725,Subject: re : research and development charges...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5726,"Subject: re : receipts from visit jim , than...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,Subject: re : enron case study update wow ! a...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5728,"Subject: re : interest david , please , call...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729,Subject: news : aurora 5 . 2 update aurora ve...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)

In [65]:
df

,text,spam,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,...,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,Subject: naturally irresistible your corporate...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject: the stock trading gunslinger fanny i...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject: unbelievable new homes made easy im ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Subject: 4 color printing special request add...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Subject: do not have money , get software cds ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5725,Subject: re : research and development charges...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5726,"Subject: re : receipts from visit jim , than...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,Subject: re : enron case study update wow ! a...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5728,"Subject: re : interest david , please , call...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729,Subject: news : aurora 5 . 2 update aurora ve...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)

In [67]:
df

,text,spam,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
0,Subject: naturally irresistible your corporate...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject: the stock trading gunslinger fanny i...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject: unbelievable new homes made easy im ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Subject: 4 color printing special request add...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Subject: do not have money , get software cds ...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5725,Subject: re : research and development charges...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5726,"Subject: re : receipts from visit jim , than...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,Subject: re : enron case study update wow ! a...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5728,"Subject: re : interest david , please , call...",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729,Subject: news : aurora 5 . 2 update aurora ve...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df.drop(df.columns[[2,3,4,5,6,7,8,9,10]],axis=1,inplace=True)

In [69]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5725  Subject: re : research and development charges...    0
5726  Subject: re : receipts from visit  jim ,  than...    0
5727  Subject: re : enron case study update  wow ! a...    0
5728  Subject: re : interest  david ,  please , call...    0
5729  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5730 rows x 2 columns]

In [70]:
df['spam'].value_counts()

0                                                                                               4358
1                                                                                               1368
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: spam, dtype: int64

In [71]:
df.drop_duplicates(inplace=True)

In [72]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5725  Subject: re : research and development charges...    0
5726  Subject: re : receipts from visit  jim ,  than...    0
5727  Subject: re : enron case study update  wow ! a...    0
5728  Subject: re : interest  david ,  please , call...    0
5729  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5697 rows x 2 columns]

In [73]:
df['spam'].value_counts()

0                                                                                               4325
1                                                                                               1368
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: spam, dtype: int64

In [74]:
df.isnull().sum()

text    0
spam    2
dtype: int64

In [75]:
df=df.dropna()

In [76]:
df.isnull().sum()

text    0
spam    0
dtype: int64

# Separate x and y

In [77]:
x=df.text.values
y=df.spam.values

# Split Dataset

In [78]:
 from sklearn.model_selection import train_test_split

In [79]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

# Data Preprocessing(using CountVectorizer)

In [80]:
 from sklearn.feature_extraction.text import CountVectorizer

In [81]:
cv=CountVectorizer()
x_train=cv.fit_transform(xtrain)

In [82]:
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# ML Algorithm

In [83]:
from sklearn.naive_bayes import MultinomialNB

In [84]:
obj=MultinomialNB()
obj.fit(x_train,ytrain)

MultinomialNB()

In [85]:
x_test=cv.transform(xtest)

In [86]:
x_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [87]:
obj.score(x_test,ytest)

0.990342405618964

In [88]:
emails=['hey guys, how are you?','Todays weather is so cold that i do not play football','Assalamualikum sir, this is my another project which is complete using Naive Bayes algorithm']

In [89]:
mails=cv.transform(emails)

In [90]:
obj.predict(mails)  # 0 means ham mail and 1 means spam mail

array(['0', '0', '0'], dtype='<U92')

# Data preprocessing(using TF-IDF Vectorizer)

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [92]:
tcv=TfidfVectorizer()
x_train=tcv.fit_transform(xtrain)

In [93]:
x_train.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [94]:
from sklearn.naive_bayes import MultinomialNB

In [95]:
obj=MultinomialNB()
obj.fit(x_train,ytrain)

MultinomialNB()

In [96]:
x_test=tcv.transform(xtest)

In [97]:
x_test.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01454784, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [98]:
obj.score(x_test,ytest)

0.8630377524143986

In [99]:
emails=['hey guys, how are you?','Todays weather is so cold that i do not play football','Assalamualikum sir, this is my another project which is complete using Naive Bayes algorithm']

In [100]:
mails=cv.transform(emails)

In [101]:
obj.predict(mails)  # 0 means ham mail and 1 means spam mail

array(['0', '0', '0'], dtype='<U92')

# Performance Analysis

In [103]:
pred=obj.predict(x_test)

In [104]:
pred

array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U92')

In [105]:
from sklearn.metrics import accuracy_score

In [106]:
accuracy_score(ytest,pred)  # ytest contain observed value and pred contain the prediction value.

0.8630377524143986

In [107]:
from sklearn.metrics import confusion_matrix

In [108]:
confusion_matrix(ytest,pred) #[TP FP
                               FN TN]

array([[855,   0],
       [156, 128]], dtype=int64)

In [109]:
from sklearn.metrics import classification_report

In [110]:
print(classification_report(ytest,pred))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92       855
           1       1.00      0.45      0.62       284

    accuracy                           0.86      1139
   macro avg       0.92      0.73      0.77      1139
weighted avg       0.88      0.86      0.84      1139